* {
            margin: 0;
            padding: 0;
            box-sizing: border-box;
            font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
        }

        img {
            display: inline-block;
            position: relative;
            padding: 0;
            max-width: 300px;
            z-index: 99;
        }
    

        body {
             background-image: url(ChatGPT\ Image\ 12.\ 2.\ 2026\ 13_55_44.png); 
            background-color: #ff0000;
            color: #f2f2f2;
        }

        header {
            background: linear-gradient(135deg, #ff003300, #8b000000); 
            padding: 0px 20px;
            text-align: center;
        }

        h1 {
            color: yellow;
        }

        header h1 {
            font-size: 3rem;
        }

        header p {
            margin-top: 15px;
            font-size: 1.2rem;
        }

        nav {
            background: #00c3a676;
            padding: 15px;
            text-align: center;
        }

        nav a {
            color: #ffffff;
            text-decoration: none;
            margin: 0 12px;
            font-weight: bold;
        }

        nav a:hover {
            color: #ff0033;
        }

        section {
            padding: 60px 20px;
            max-width: 1100px;
            margin: auto;
        }

        h2 {
            color: red;
            background-color: #1800b769;
            margin-bottom: 20px;
            font-size: 2rem;
        }

        h3 {
            margin-bottom: 0px;
            color: red;
            background-color: #3333337a; 
            border: 1px solid #ff0033;
        }

        .services {
            display: grid;
            grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
            gap: 20px;
        }

        .card {
            border: 1px solid #ff0033;
            background: rgba(213, 202, 0, 0.622);
            padding: 25px;
            border-radius: 10px;
        }

        ul {
            list-style: none;
        }

        ul li {
            padding: 8px 0;
            border-bottom: 1px solid #333333;
        }

        ul li:last-child {
            border-bottom: none;
        }

        footer {
            background: #000000;
            text-align: center;
            padding: 20px;
            opacity: 0.7;
        }

        @media (max-width: 600px) {
            header h1 {
                font-size: 2.2rem;
            }
        }
